@import "../../app.scss";

.skills {
  h1 {
    font-size: 72px;
    text-align: center;
    padding-top: 50px;
    text-align: center;
    color: orange;

    @include mobile {
      font-size: 50px;
    }
  }
  .container {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      font-size: 16px;
      margin-top: 40% !important;
    }

    .skill {
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 20px;
      border: 2px solid #313b43;
      //   background-color: #3e4a54;
      //   background-color: #22292f;
      background-color: #22292f78;

      @include mobile {
        width: 100px;
        height: 100px;
        padding: 10px;
      }
    }
  }
}
