@import "../../app.scss";

.skills {
  top: 0;
  left: 0;
  padding-top: 50px;
  text-align: center;
  color: orange;
  font-size: 36px;

  .heading {
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    color: orange;
    font-size: 36px;
    z-index: 999;
    background: linear-gradient(45deg, transparent, #131416, transparent);

    h2 {
      font-size: 72px;
      text-align: center;
      text-align: center;
      color: orange;

      @include mobile {
        font-size: 50px;
      }
    }
  }

  .container {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      font-size: 16px;
      margin: 0% !important;
    }

    .skill {
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 20px;
      border: 2px solid #313b43;
      //   background-color: #3e4a54;
      //   background-color: #22292f;
      background-color: #22292f78;

      @include mobile {
        width: 100px;
        height: 100px;
        padding: 10px;
        border-radius: 0;
      }
    }
  }
}
